html, body, #app {
    transition: background-color 0.5s ease, color 0.5s ease;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    margin-bottom: 60px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
}

html.font-small{
    font-size: 12px !important;
}

html.font-default {
    font-size: 14px !important;
}

html.font-large {
    font-size: 20px !important;
}
